<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Tienda</title>


</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-4" style="background-color:rgb(138, 14, 14)">
                <h1>Productos</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>

    <div id="app">


        <div v-for="(item, index) in stock">
            <fd-producto :num="index + 1" :prod='item.producto' :pvp='item.precio' :hay='item.disponibilidad' :imag="item.img" v-if="item.disponibilidad == 0"></fd-producto>
            <!--img :src="'../img/'+item.img"> <br><span v-if="index < 9">0</span>{{index+1}} {{item.producto}} <br> Precio: S/ {{item.precio}}. &nbsp; &nbsp; Hay: {{item.disponibilidad}} Unids.
            <br>Comprar <input type="number" value=0 min=0></input> Subtotal: S/ <br> Total: S/ &nbsp; &nbsp; &nbsp; &nbsp; <button>Enviar</button>
            <br--><br>
        </div>
    </div>

</body>
<script src="./js/index.js"></script>

</html>