<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Tienda</title>
    <style>
        body,
        h1 {
            background-color: black;
            /* La página de fondo será negra */
            color: white;
        }
        
        li {
            list-style: none;
        }
        
        input[type=number] {
            width: 30px;
        }
    </style>
</head>

<body>

    <div id="app">
        <mi-producto num='01' prod='Bicarbonato' imag='../img/Bicarbonato.jpeg'></mi-producto>


        <h1>Cantidad <input type="number" min="0" v-model="cant"></h1>
        <h1> Total={{total}}</h1>
        <hr>
        <h1> Total={{total1}}</h1>
        <hr>
        <mi-producto num='02' prod='Yoshi' imag='../img/yoshi.jpeg'></mi-producto>
        <hr>
        <h1>Productos:</h1>
        <ul>
            <li v-for="(item, index) in stock"><img :src="'../img/'+item.img"> <br><span v-if="index < 9">0</span>{{index+1}} {{item.producto}} <br> Precio: S/ {{item.precio}}. &nbsp; &nbsp; Hay: {{item.disponibilidad}} Unids.
                <br>Comprar <input type="number" value=0 min=0></input> Subtotal: S/ <br> Total: S/ &nbsp; &nbsp; &nbsp; &nbsp; <button>Enviar</button>
                <br><br>
                <!--img :src="'../img/'+item.img"> <br><span v-if="index < 9">0</span>{{index+1}} {{item.producto}} <br> Precio: S/ {{item.precio}}. &nbsp; &nbsp; Hay: {{item.disponibilidad}} Unids.
            <br>Comprar <input type="number" value=0 min=0></input> Subtotal: S/ <br> Total: S/ &nbsp; &nbsp; &nbsp; &nbsp; <button>Enviar</button>
            <br-->
            </li>
        </ul>
    </div>

</body>
<script src="./js/index.js"></script>

</html>